@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .contact-form {
    @apply w-full rounded border border-slate-200 bg-white px-3 text-sm placeholder-slate-400 shadow-sm focus:border-blue-500 focus:shadow focus:outline-none focus:ring-1 focus:ring-blue-500;
  }
  .heading {
    @apply pb-2 text-3xl font-bold text-[#404145] lg:text-4xl;
  }
  .navigation {
    @apply text-gray-100 hover:text-white;
  }
}

@layer utilities {
  /* Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}

* {
  -webkit-tap-highlight-color: transparent;
}

/* Scrollbar Styles */
html {
  scrollbar-width: thin;
  scrollbar-color: #f3f4f6 #1f371f;
  scroll-behavior: smooth;
}
body::-webkit-scrollbar {
  width: 12px;
}
body::-webkit-scrollbar-track {
  background: #f3f4f6;
}
body::-webkit-scrollbar-thumb {
  background-color: #1f2937;
  border: 3px solid #f3f4f6;
  border-radius: 10px;
}

/* Dots */
.slick-dotted.slick-slider {
  margin-bottom: 30px;
}

.slick-dots {
  position: absolute;
  bottom: -25px;

  display: block;

  width: 100%;
  padding: 0;
  margin: 0;

  list-style: none;

  text-align: center;
}
.slick-dots li {
  position: relative;

  display: inline-block;

  width: 20px;
  height: 20px;
  margin: 0 5px;
  padding: 0;

  cursor: pointer;
}
.slick-dots li button {
  font-size: 0;
  line-height: 0;

  display: block;

  width: 20px;
  height: 20px;
  padding: 5px;

  cursor: pointer;

  color: transparent;
  border: 0;
  outline: none;
  background: transparent;
}
.slick-dots li button:hover,
.slick-dots li button:focus {
  outline: none;
}
.slick-dots li button:hover:before,
.slick-dots li button:focus:before {
  opacity: 1;
}
.slick-dots li button:before {
  font-family: "slick";
  font-size: 28px;
  line-height: 20px;

  position: absolute;
  top: 0;
  left: 0;

  width: 20px;
  height: 20px;

  content: "•";
  text-align: center;

  opacity: 0.35;
  color: black;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.slick-dots li.slick-active button:before {
  opacity: 0.75;
  color: white;
}
